html,
body {
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Apple SD Gothic Neo", "Pretendard";
}
#message_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.message {
  margin: 10px 0;
  font-size: 1.5rem;
}
