<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QR 인증 완료</title>
    <link
      rel="stylesheet"
      as="style"
      crossorigin
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css"
    />
    <!-------------------------------------------------------------------------->

    <!-- CSS 연결 -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/reset.css') }}"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/QR/mobileQRResponse.css') }}"
    />

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />

    <!-- Javascript 연결 -->
    <script
      src="{{ url_for('static', path='javascript/QR/mobileQRResponse.js') }}"
      defer
    ></script>
  </head>
  <body>
    <div id="message_wrapper">
      <i
        style="font-size: 2rem; color: #82c65b; margin-bottom: 1rem"
        class="fas fa-check-circle"
      ></i>
      <p class="message">QR 인증이 완료되었습니다.</p>
      <p class="message">냉장고에서 계속 진행하세요.</p>
      <p class="message">창을 닫으셔도 좋습니다.</p>
    </div>
  </body>
</html>
