@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#F1F9F0, #ffffff, #F1F9F0);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

/* logo */
.logoTextBox {
    font-family: 'GmarketSansBold';
    font-size: 3rem;

    display: flex;
    margin: 3rem 0 2rem 0;
}

.textBox {
    display: flex;
    align-items: center;

    margin: 0 1rem;
}

.titleDetileText {
    color: #77C04D;
}

.titleText {
    color: #8EC96D;
}

.logo {
    width: 5.5vw;
}

/* button */
.btn1, .btn2 {
    border-radius: 50px;

    width: 52rem;
    height: 29rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
}

.btn1 {
    background: linear-gradient(#5CB962, #73CC79);
}

.btn2 {
    background: linear-gradient(#8EC96D, #9FDA7E);
}

.mainText{
    font-family: 'GmarketSansBold';
    font-size: 7rem;

    color: #ffffff;
}

.subText {
    color: #ECF6EA;
}

.detileText {
    color: #00601B;
}

.btnTextBox {
    font-family: 'GmarketSansBold';
    font-size: 1.5rem;

    display: flex;
    justify-content: center;
}