<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>메인</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/reset.css') }}"
    />
    <!-------------------------------------------------------------------------->

    <!-- CSS 연결 -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/main/main.css') }}"
    />

    <!-------------------------------------------------------------------------->

    <!-- Javascript 연결 -->
    <script
      src="{{ url_for('static', path='javascript/main/main.js') }}"
      defer
    ></script>

    <!-------------------------------------------------------------------------->
  </head>
  <body>
    <h1>지아 메인 페이지</h1>
  </body>
</html>
