<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- profile -->
    <section>
        <div class="profileBackground">
            <img src="/front-web/static/images/mypage/prefile.png" />
            <button class="plusImgBtn">+</button>
            <div class="userName">홍길동</div>
            <div class="sir">님</div>
        </div>
    </section>

    <!-- point -->
    <section>
        <div class="pointBackground">
            <div>
                <div class="pointText">그린 포인트</div>
                <div class="pointNum">999</div>
                <div class="pointUnit">점</div>
            </div>

            <div class="useBtn">사용하기</div>
        </div>
    </section>

    <!-- 가족 구성원, 냉장고 -->
    <section>
        <!-- 가족 구성원 -->
        <article>
            <img src="/front-web/static/images/mypage/family.png" />
            
            <div>
                <div class="familyText">가족 구성원</div>
                <div class="familyNum">4</div>
                <div class="familyUnit">명</div>
                <img class="familyRightArrow" src="/front-web/static/images/mypage/rightArrow.png">
            </div>
        </article>

        <hr />

        <!-- 냉장고 -->
        <article>
            <img src="/front-web/static/images/mypage/fridge.png" />
            
            <div>
                <div class="fridgeText">냉장고</div>
                <div class="fridgeNum">2</div>
                <div class="fridgeUnit">대</div>
                <img class="fridgeRightArrow" src="/front-web/static/images/mypage/rightArrow.png">
            </div>
        </article>

        <hr />
    </section>

    <!-- 스크랩 -->
    <section>
        <img src="/front-web/static/images/mypage/star.png">
        <div class="scrapText">스크랩</div>
        <img src="/front-web/static/images/mypage/downArrow.png">
    </section>
</body>
</html>