@font-face {
    font-family: "GmarketSansLight";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
  }

@font-face {
font-family: "GmarketSansMedium";
src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: "GmarketSansBold";
src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
font-weight: normal;
font-style: normal;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#f1f9f0, #ffffff, #f1f9f0);

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    box-sizing: border-box;

    overflow: hidden;
}

/*section*/
.section1 {

    text-align: center;

    margin-bottom: 10rem;
    margin-left: 3.5rem;
}

.section2 {
    text-align: center;

    margin-bottom: 5rem;
    margin-left: 3.5rem;
    
}

.section1 > h1 {
    margin-top: 2vh;
}

.title {
    font-size: 48px;

    color: #449C4A;

    margin-bottom: 3rem;
}

/*card*/
.swiper-slide {
    width: 250px !important;
    height: 250px !important;

    border: 3px solid #E5E5E5 !important;
    border-radius: 30px !important;

    display: flex !important;
    flex-direction: column;
    align-items: center;

    box-sizing: border-box;
    padding: 1rem;

}
.swiper-slide .food {
    height: 140px;
    width: 140px;
    margin: 1rem 0rem;
}
.swiper-slide .foodName {
    font-size: 30px;
    
    color: #8EC96D;
    margin: .75rem 0;
}
/*swiper*/
.swiper-pagination {
    position: relative !important;
    top: 2rem !important;
}
.swiper-pagination span {
    width: 24px;
    height: 24px;
    background-color: #8EC96D;
}
.swiper-pagination2 {
    position: relative !important;
    top: 2rem !important;
}
.swiper-pagination2 span {
    width: 24px;
    height: 24px;
    background-color: #8EC96D;
}

/*header*/
#header_container {
    position: fixed;
    top:0; left:0;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 10px;
    font-weight: bold;
    font-size: 1.5rem;

    width: 100%;
}
.header_timer {
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.header_wifi {
    margin-left: auto;
    margin-right: 2rem;
    font-weight: bold;
}

/*modal*/
.modal {
    width: 850px;
    height: 600px;

    border: 3.5px solid #8EC96D;
    border-radius: 40px;
    background-color: #fff;

    position: absolute;
    top:30%; left: 50%;
    transform: translateX(-50%);

    z-index: 999;
}