body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#f1f9f0, #ffffff, #f1f9f0);
    margin: 0;
}
body::-webkit-scrollbar {
    display: none;
  }

/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    border-bottom: 2px solid #cbcbcb;
    padding: 1vh 0;
}

header div {
    position: relative;
    display: flex;
    align-items: center;
}

.moveBefore {
    background-image: url('../../images/stock/leftBtn.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 8vw;
    height: 8vh;
    margin-right: 2vw;
}
.moveBefore:hover {
    cursor: pointer;
    opacity: 70%;
}

.stockManagement {
    color: #449C4A;
    font-size: 6vh;
    text-align: center;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.addStock {
    color: #449C4A;
    border: 3px solid #449C4A;
    border-radius: 20px;
    width: 8vw;
    height: 4vw;
    font-size: 1.8rem;
    margin-right: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0.2vh 0.5vh 0.2vh #cbcbcb;
}
.addStock:hover {
    box-shadow: 0.1vh 0.2vh 0.1vh #cbcbcb;
    cursor: pointer;
    opacity: 70%;
}


/* main */
main {
    padding: 2vh 4vw;
}

main > ul > li {
    border-bottom: 1px solid #cbcbcb;
    margin-top: 2vh;
}

/* Category list */ 
.foodCategory {
    background-color: rgba(68, 156, 74, 0.3);
    position: relative;
    border-radius: 30px;
    width: fit-content;
    height: 1.2rem;
    display: flex;
    align-items: center;
    margin-bottom: 2vh;
}

.item {
    padding: 0 1vw;
    font-size: 1.8rem;
    color: #262626;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stockBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3vh 0;
}

.slideLeft {
    background-image: url('../../images/stock/leftBtn.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 4vw;
    height: 4vh;
}
.slideLeft:hover {
    cursor: pointer;
    opacity: 60%;
}

.slideRight {
    background-image: url('../../images/stock/rightBtn.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 4vw;
    height: 4vh;
}
.slideRight:hover {
    cursor: pointer;
    opacity: 60%;
}

.stockListContainer {
    width: 100%;
    height: 12rem;
    padding: 1vw 1vw;
    overflow: hidden;
    mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
    position: relative;
}

.stockListContainer > ul {
    display: flex;
    transition: 0.3s ease;
    align-items: center;
    margin: 0;
    padding-right: 100px;
}

.stockListContainer > ul li {
    flex: 0 0 164px;
    /* background-color: rgba(223, 17, 17, 0.05); */
    border-radius: 10px;
    height: 164px;
    width: 15%;
    margin: 15px 5%; 
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
}

.countStocks {
    position: absolute;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    left: 164px;
}
.itemBox {
    position: relative;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}
.expirationDate {
    position: relative;
    font-size: 1.1rem;
}
.itemImg {
    margin: 1.5rem 0;
    font-size: 3rem;
}
.itemName {
    font-weight: lighter;
}

/* 소비기한 별 색 설정 */
.left1DayBox {
    color: #CE2A2A;
    border: 3px solid #CE2A2A;
    background-color: #F28585;
}
.leftDaysBox {
    color: #449C4A;
    border: 3px solid #449C4A;
    background-color: #AED3B0;
}
.left1DayBox.itemList {
    background-color: #FDF3F3;
}
.leftDaysBox.itemList {
    background-color: #F9FFF9;
}

/* modal popup */
/* 블러 효과와 모달 스타일링 */
body.modal-open::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    transition: backdrop-filter 0.3s ease-in-out;
    z-index: 500;
}

.modal {
    display: none; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 710px;
    height: 710px;
    z-index: 1000; /* 블러 처리된 배경보다 위에 표시되도록 설정 */
    overflow: hidden;
}
.modal.on {
    display: block;
}

.modalPopup {
    border-radius: 20px;
    position: relative;
    display: block;
    z-index: 1001;
    text-align: center;
    border: none;
    color: #2c2c2c;
    cursor: pointer;
    transition: box-shadow 0.2s;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 80%;
}

.countStocks-modal {
    position: absolute;
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;

    transform: translate(-50%, -50%);
    left: 560px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 60px;
    backdrop-filter: none;
    filter: none;
}

.expirationDate-modal {
    font-size: 60px;
    margin: 3vh auto 10vh auto;
}
.itemImg-modal {
    font-size: 200px;
}
.itemName-modal {
    font-size: 50px;
    margin: 10vh auto 3vh auto;
}